In [1]:
import pandas as pd
import plotly.graph_objects as go
import plotly.offline as py
import plotly.express as px
import scipy.stats as st

In [8]:
filepath = "USdata.csv"
usdata=pd.read_csv(filepath)
usdata.head(10)

,Country,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date
0,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/22/2020
1,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/23/2020
2,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/24/2020
3,US,Chicago,38.212678,-89.502995,1.0,NaN,NaN,1/24/2020
4,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/25/2020
5,US,Illinois,39.860649,-89.130850,1.0,NaN,NaN,1/25/2020
6,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/26/2020
7,US,Illinois,39.860649,-89.130850,1.0,NaN,NaN,1/26/2020
8,US,California,37.938993,-120.997072,2.0,NaN,NaN,1/26/2020
9,US,Arizona,33.348359,-111.344948,1.0,NaN,NaN,1/26/2020

In [15]:
datagroupby=usdata.groupby(['Date','Confirmed'])
datagroupby.sum()

                       Latitude   Longitude  Recovered   Deaths
Date      Confirmed
1/22/2020 1.0         47.140037 -120.791360        0.0      0.0
1/23/2020 1.0         47.140037 -120.791360        0.0      0.0
1/24/2020 1.0         85.352715 -210.294354        0.0      0.0
1/25/2020 1.0         87.000686 -209.922210        0.0      0.0
1/26/2020 1.0        120.349045 -321.267158        0.0      0.0
...                         ...         ...        ...      ...
7/9/2020  55961.0     25.611236  -80.551706        0.0   1092.0
          73165.0     33.348359 -112.491815        0.0   1012.0
          94005.0     41.841448  -87.816588        0.0   4676.0
          124992.0    34.308284 -118.228241        0.0   3690.0
          218052.0    40.767273  -73.971526        0.0  23247.0

[87616 rows x 4 columns]

In [19]:
datagroupby=usdata.groupby(['Date']).sum()
datagroupby.head()

             Latitude   Longitude  Confirmed  Recovered  Deaths
Date
1/22/2020   47.140037 -120.791360        1.0        0.0     0.0
1/23/2020   47.140037 -120.791360        1.0        0.0     0.0
1/24/2020   85.352715 -210.294354        2.0        0.0     0.0
1/25/2020   87.000686 -209.922210        2.0        0.0     0.0
1/26/2020  158.288038 -442.264230        5.0        0.0     0.0

In [25]:
datagroupby.to_csv(r'gbyusdata.csv')

In [32]:
list(usdata['Province/State'])

['Washington',
 'Washington',
 'Washington',
 'Chicago',
 'Washington',
 'Illinois',
 'Washington',
 'Illinois',
 'California',
 'Arizona',
 'Washington',
 'Illinois',
 'California',
 'Arizona',
 'Washington',
 'Illinois',
 'California',
 'Arizona',
 'Washington',
 'Illinois',
 'California',
 'Arizona',
 'Washington',
 'Illinois',
 'California',
 'Arizona',
 'Illinois',
 'California',
 'Washington',
 'Arizona',
 'Chicago, IL',
 'Boston, MA',
 'Los Angeles, CA',
 'Orange, CA',
 'Santa Clara, CA',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'Boston, MA',
 'Los Angeles, CA',
 'Orange, CA',
 'Santa Clara, CA',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'San Benito, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Los Angeles, CA',
 'Orange, CA',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'San Benito, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Los Angeles, CA',
 'Orange, CA',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'San Benito, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'San Benito, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'San Benito, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'San Benito, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'San Benito, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'San Benito, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'San Benito, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'San Diego County, CA',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'San Benito, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'San Diego County, CA',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'San Benito, CA',
 'San Diego County, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'San Antonio, TX',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'San Benito, CA',
 'San Diego County, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'San Antonio, TX',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'San Benito, CA',
 'San Diego County, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'San Antonio, TX',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'San Benito, CA',
 'San Diego County, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'San Antonio, TX',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'San Benito, CA',
 'San Diego County, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'San Antonio, TX',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'San Benito, CA',
 'San Diego County, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'San Antonio, TX',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'San Benito, CA',
 'San Diego County, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'San Antonio, TX',
 'Seattle, WA',
 'Tempe, AZ',
 'Chicago, IL',
 'San Benito, CA',
 'San Diego County, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'San Antonio, TX',
 'Seattle, WA',
 'Tempe, AZ',
 'Ashland, NE',
 'Travis, CA',
 'Chicago, IL',
 'Lackland, TX',
 'San Benito, CA',
 'San Diego County, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Humboldt County, CA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'Sacramento County, CA',
 'San Antonio, TX',
 'Seattle, WA',
 'Tempe, AZ',
 'Omaha, NE (From Diamond Princess)',
 'Travis, CA (From Diamond Princess)',
 'Chicago, IL',
 'Lackland, TX (From Diamond Princess)',
 'San Benito, CA',
 'San Diego County, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Humboldt County, CA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'Sacramento County, CA',
 'San Antonio, TX',
 'Seattle, WA',
 'Tempe, AZ',
 'Omaha, NE (From Diamond Princess)',
 'Travis, CA (From Diamond Princess)',
 'Chicago, IL',
 'Lackland, TX (From Diamond Princess)',
 'San Benito, CA',
 'San Diego County, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Humboldt County, CA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'Sacramento County, CA',
 'San Antonio, TX',
 'Seattle, WA',
 'Tempe, AZ',
 'Unassigned Location (From Diamond Princess)',
 'Chicago, IL',
 'San Benito, CA',
 'San Diego County, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Humboldt County, CA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'Sacramento County, CA',
 'San Antonio, TX',
 'Seattle, WA',
 'Tempe, AZ',
 'Lackland, TX (From Diamond Princess)',
 'Omaha, NE (From Diamond Princess)',
 'Travis, CA (From Diamond Princess)',
 'Unassigned Location (From Diamond Princess)',
 'Chicago, IL',
 'San Benito, CA',
 'San Diego County, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Humboldt County, CA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'Sacramento County, CA',
 'San Antonio, TX',
 'Seattle, WA',
 'Tempe, AZ',
 'Lackland, TX (From Diamond Princess)',
 'Omaha, NE (From Diamond Princess)',
 'Travis, CA (From Diamond Princess)',
 'Unassigned Location (From Diamond Princess)',
 'Chicago, IL',
 'San Benito, CA',
 'San Diego County, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Humboldt County, CA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'Sacramento County, CA',
 'San Antonio, TX',
 'Seattle, WA',
 'Tempe, AZ',
 'Lackland, TX (From Diamond Princess)',
 'Omaha, NE (From Diamond Princess)',
 'Travis, CA (From Diamond Princess)',
 'Unassigned Location (From Diamond Princess)',
 'Chicago, IL',
 'Sacramento County, CA',
 'San Benito, CA',
 'San Diego County, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Humboldt County, CA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'San Antonio, TX',
 'Seattle, WA',
 'Tempe, AZ',
 'Lackland, TX (From Diamond Princess)',
 'Omaha, NE (From Diamond Princess)',
 'Travis, CA (From Diamond Princess)',
 'Unassigned Location (From Diamond Princess)',
 'Chicago, IL',
 'Sacramento County, CA',
 'San Benito, CA',
 'San Diego County, CA',
 'Santa Clara, CA',
 'Boston, MA',
 'Humboldt County, CA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'San Antonio, TX',
 'Seattle, WA',
 'Tempe, AZ',
 'Lackland, TX (From Diamond Princess)',
 'Omaha, NE (From Diamond Princess)',
 'Travis, CA (From Diamond Princess)',
 'Unassigned Location (From Diamond Princess)',
 'Seattle, WA',
 'Santa Clara, CA',
 'Chicago, IL',
 'Sacramento County, CA',
 'San Benito, CA',
 'San Diego County, CA',
 'Boston, MA',
 'Humboldt County, CA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'Portland, OR',
 'San Antonio, TX',
 'Snohomish County, WA',
 'Tempe, AZ',
 'Lackland, TX (From Diamond Princess)',
 'Omaha, NE (From Diamond Princess)',
 'Travis, CA (From Diamond Princess)',
 'Unassigned Location (From Diamond Princess)',
 'Seattle, WA',
 'Chicago, IL',
 'Santa Clara, CA',
 'Sacramento County, CA',
 'San Benito, CA',
 'San Diego County, CA',
 'Snohomish County, WA',
 'Boston, MA',
 'Humboldt County, CA',
 'Los Angeles, CA',
 'Madison, WI',
 'Orange, CA',
 'Portland, OR',
 'Providence, RI',
 'San Antonio, TX',
 'Tempe, AZ',
 'Lackland, TX (From Diamond Princess)',
 'Omaha, NE (From Diamond Princess)',
 'Travis, CA (From Diamond Princess)',
 'Unassigned Location (From Diamond Princess)',
 'King County, WA',
 'Santa Clara, CA',
 'Cook County, IL',
 'Snohomish County, WA',
 'Portland, OR',
 'Providence, RI',
 'Sacramento County, CA',
 'San Benito, CA',
 'San Diego County, CA',
 'Boston, MA',
 'Grafton County, NH',
 'Hillsborough, FL',
 'Humboldt County, CA',
 'Los Angeles, CA',
 'Madison, WI',
 'New York City, NY',
 'Orange, CA',
 'Placer County, CA',
 'San Antonio, TX',
 'San Mateo, CA',
 'Sarasota, FL',
 'Sonoma County, CA',
 'Tempe, AZ',
 'Umatilla, OR',
 'Lackland, TX (From Diamond Princess)',
 'Omaha, NE (From Diamond Princess)',
 'Travis, CA (From Diamond Princess)',
 'Unassigned Location (From Diamond Princess)',
 'King County, WA',
 'Santa Clara, CA',
 'Snohomish County, WA',
 'Cook County, IL',
 'Fulton County, GA',
 'Grafton County, NH',
 'Hillsborough, FL',
 'Providence, RI',
 'Sacramento County, CA',
 'San Benito, CA',
 'San Diego County, CA',
 'San Mateo, CA',
 'Washington County, OR',
 ' Norfolk County, MA',
 'Berkeley, CA',
 'Boston, MA',
 'Humboldt County, CA',
 'Los Angeles, CA',
 'Madison, WI',
 'Maricopa County, AZ',
 'New York City, NY',
 'Orange, CA',
 'Placer County, CA',
 'San Antonio, TX',
 'Sarasota, FL',
 'Sonoma County, CA',
 'Tempe, AZ',
 'Umatilla, OR',
 'Wake County, NC',
 'Westchester County, NY',
 'Lackland, TX (From Diamond Princess)',
 'Omaha, NE (From Diamond Princess)',
 'Travis, CA (From Diamond Princess)',
 'Unassigned Location (From Diamond Princess)',
 'King County, WA',
 'Santa Clara, CA',
 'Westchester County, NY',
 'Snohomish County, WA',
 'Los Angeles, CA',
 'Cook County, IL',
 'Orange County, CA',
 'Fulton County, GA',
 'Grafton County, NH',
 'Hillsborough, FL',
 'Placer County, CA',
 'Providence, RI',
 'Sacramento County, CA',
 'San Benito, CA',
 'San Diego County, CA',
 'San Mateo, CA',
 'Washington County, OR',
 ' Norfolk County, MA',
 'Berkeley, CA',
 'Boston, MA',
 'Contra Costa County, CA',
 'Humboldt County, CA',
 'Madison, WI',
 'Maricopa County, AZ',
 'New York City, NY',
 'San Antonio, TX',
 'Sarasota, FL',
 'Sonoma County, CA',
 'Tempe, AZ',
 'Umatilla, OR',
 'Wake County, NC',
 'Lackland, TX (From Diamond Princess)',
 'Omaha, NE (From Diamond Princess)',
 'Travis, CA (From Diamond Princess)',
 'King County, WA',
 'Unassigned Location (From Diamond Princess)',
 'Santa Clara, CA',
 'Snohomish County, WA',
 'Westchester County, NY',
 'Los Angeles, CA',
 'Cook County, IL',
 'New York City, NY',
 'Orange County, CA',
 'San Diego County, CA',
 'Bergen County, NJ',
 'Fulton County, GA',
 'Grafton County, NH',
 'Harris County, TX',
 'Hillsborough, FL',
 'Placer County, CA',
 'Providence, RI',
 'Sacramento County, CA',
 'San Benito, CA',
 'San Francisco County, CA',
 'San Mateo, CA',
 'Washington County, OR',
 ' Norfolk County, MA',
 'Berkeley, CA',
 'Boston, MA',
 'Clark County, NV',
 'Contra Costa County, CA',
 'Fort Bend County, TX',
 'Grant County, WA',
 'Humboldt County, CA',
 'Madison, WI',
 'Maricopa County, AZ',
 'Queens County, NY',
 'San Antonio, TX',
 'Santa Rosa County, FL',
 'Sarasota, FL',
 'Sonoma County, CA',
 'Tempe, AZ',
 'Umatilla, OR',
 'Wake County, NC',
 'Williamson County, TN',
 'Lackland, TX (From Diamond Princess)',
 'Omaha, NE (From Diamond Princess)',
 'Travis, CA (From Diamond Princess)',
 'King County, WA',
 'Unassigned Location (From Diamond Princess)',
 'Santa Clara, CA',
 'Snohomish County, WA',
 'Westchester County, NY',
 'New York County, NY',
 'Los Angeles, CA',
 'Cook County, IL',
 'Placer County, CA',
 'Unassigned Location, WA',
 'Contra Costa County, CA',
 'Harris County, TX',
 'Montgomery County, MD',
 'Orange County, CA',
 'San Diego County, CA',
 'Suffolk County, MA',
 ' Norfolk County, MA',
 'Bergen County, NJ',
 'Denver County, CO',
 'Fulton County, GA',
 'Grafton County, NH',
 'Hillsborough, FL',
 'Maricopa County, AZ',
 'Providence, RI',
 'Sacramento County, CA',
 'San Benito, CA',
 'San Francisco County, CA',
 'San Mateo, CA',
 'Summit County, CO',
 'Washington County, OR',
 'Berkeley, CA',
 'Chatham County, NC',
 'Clark County, NV',
 'Delaware County, PA',
 'Douglas County, NE',
 'Fayette County, KY',
 'Floyd County, GA',
 'Fort Bend County, TX',
 'Grant County, WA',
 'Humboldt County, CA',
 'Madison, WI',
 'Marion County, IN',
 'Middlesex County, MA',
 'Nassau County, NY',
 'Norwell County, MA',
 'Ramsey County, MN',
 'San Antonio, TX',
 'Santa Rosa County, FL',
 'Sarasota, FL',
 'Sonoma County, CA',
 'Tempe, AZ',
 'Umatilla, OR',
 'Wake County, NC',
 'Washoe County, NV',
 'Wayne County, PA',
 'Williamson County, TN',
 'Yolo County, CA',
 'Lackland, TX (From Diamond Princess)',
 'Omaha, NE (From Diamond Princess)',
 'Travis, CA (From Diamond Princess)',
 'King County, WA',
 'Westchester County, NY',
 'Unassigned Location (From Diamond Princess)',
 'Santa Clara County, CA',
 'Snohomish County, WA',
 'Grand Princess Cruise Ship',
 'Los Angeles, CA',
 'New York County, NY',
 'San Francisco County, CA',
 'Cook County, IL',
 'Harris County, TX',
 'Placer County, CA',
 'Unassigned Location, WA',
 'Bergen County, NJ',
 'Nassau County, NY',
 'Contra Costa County, CA',
 'Douglas County, CO',
 'Fort Bend County, TX',
 'Fulton County, GA',
 'Maricopa County, AZ',
 'Montgomery County, MD',
 'Orange County, CA',
 'Providence County, RI',
 'San Diego County, CA',
 'Suffolk County, MA',
 'Washington County, OR',
 ' Norfolk County, MA',
 'Alameda County, CA',
 'Broward County, FL',
 'Denver County, CO',
 'Fairfield County, CT',
 'Floyd County, GA',
 'Grafton County, NH',
 'Hillsborough, FL',
 'Lee County, FL',
 'Pinal County, AZ',
 'Rockland County, NY',
 'Sacramento County, CA',
 'San Benito, CA',
 'San Mateo, CA',
 'Saratoga County, NY',
 'Summit County, CO',
 'Charleston County, SC',
 'Chatham County, NC',
 'Clark County, NV',
 'Clark County, WA',
 'Cobb County, GA',
 'Davis County, UT',
 'Delaware County, PA',
 'Douglas County, NE',
 'El Paso County, CO',
 'Fayette County, KY',
 'Grant County, WA',
 'Honolulu County, HI',
 'Humboldt County, CA',
 'Jackson County, OR ',
 'Jefferson County, WA',
 'Kershaw County, SC',
 'Klamath County, OR',
 'Madera County, CA',
 'Madison, WI',
 'Marion County, IN',
 'Middlesex County, MA',
 'Pierce County, WA',
 'Plymouth County, MA',
 'Ramsey County, MN',
 'San Antonio, TX',
 'Santa Cruz County, CA',
 'Santa Rosa County, FL',
 'Sarasota, FL',
 'Sonoma County, CA',
 'Tulsa County, OK',
 'Umatilla, OR',
 'Wake County, NC',
 'Washoe County, NV',
 'Wayne County, PA',
 'Williamson County, TN',
 'Yolo County, CA',
 'Lackland, TX (From Diamond Princess)',
 'Montgomery County, TX',
 'Omaha, NE (From Diamond Princess)',
 'Travis, CA (From Diamond Princess)',
 'King County, WA',
 'Westchester County, NY',
 'Unassigned Location (From Diamond Princess)',
 'Santa Clara County, CA',
 'Snohomish County, WA',
 'Grand Princess Cruise Ship',
 'Los Angeles, CA',
 'Contra Costa County, CA',
 'New York County, NY',
 'San Francisco County, CA',
 'Suffolk County, MA',
 'Washington County, OR',
 'Cook County, IL',
 'Middlesex County, MA',
 'Fort Bend County, TX',
 'Norfolk County, MA',
 'Harris County, TX',
 'Nassau County, NY',
 'Placer County, CA',
 'Unassigned Location, WA',
 'Bergen County, NJ',
 'Grafton County, NH',
 'Montgomery County, MD',
 'Montgomery County, PA',
 'Pierce County, WA',
 'Douglas County, CO',
 'Fulton County, GA',
 'Maricopa County, AZ',
 'Orange County, CA',
 'Providence County, RI',
 'San Diego County, CA',
 'Alameda County, CA',
 'Broward County, FL',
 'Clark County, NV',
 'Denver County, CO',
 'Fairfax County, VA',
 'Hillsborough, FL',
 'Jackson County, OR ',
 'Lee County, FL',
 'Pinal County, AZ',
 'Rockingham County, NH',
 'Rockland County, NY',
 'Sacramento County, CA',
 'San Benito, CA',
 'San Mateo, CA',
 'Saratoga County, NY',
 'Summit County, CO',
 'Washington, D.C.',
 'Washoe County, NV',
 'Berkshire County, MA',
 'Charleston County, SC',
 'Chatham County, NC',
 'Clark County, WA',
 'Cobb County, GA',
 'Davidson County, TN',
 'Davis County, UT',
 'Delaware County, PA',
 'Douglas County, NE',
 'Douglas County, OR',
 'El Paso County, CO',
 'Fairfield County, CT',
 'Fayette County, KY',
 'Fresno County, CA',
 'Grant County, WA',
 'Harford County, MD',
 'Hendricks County, IN',
 'Honolulu County, HI',
 'Hudson County, NJ',
 'Humboldt County, CA',
 'Jefferson County, WA',
 'Johnson County, KS',
 'Kershaw County, SC',
 'Kittitas County, WA',
 'Klamath County, OR',
 'Madera County, CA',
 'Madison, WI',
 'Manatee County, FL',
 'Marion County, IN',
 'Marion County, OR',
 'Okaloosa County, FL',
 'Plymouth County, MA',
 'Polk County, GA',
 'Ramsey County, MN',
 'Riverside County, CA',
 'San Antonio, TX',
 'Santa Rosa County, FL',
 'Sarasota, FL',
 'Shelby County, TN',
 'Sonoma County, CA',
 'Spokane County, WA',
 'St. Louis County, MO',
 'Suffolk County, NY',
 'Tulsa County, OK',
 'Ulster County, NY',
 'Umatilla, OR',
 'Unassigned Location, VT',
 'Unknown Location, MA',
 'Volusia County, FL',
 'Wake County, NC',
 'Wayne County, PA',
 'Williamson County, TN',
 'Yolo County, CA',
 'Lackland, TX (From Diamond Princess)',
 'Montgomery County, TX',
 'Omaha, NE (From Diamond Princess)',
 'Travis, CA (From Diamond Princess)',
 'Westchester County, NY',
 'King County, WA',
 'Unassigned Location (From Diamond Princess)',
 'Santa Clara County, CA',
 'Snohomish County, WA',
 'Grand Princess Cruise Ship',
 'New York County, NY',
 'Nassau County, NY',
 'Los Angeles, CA',
 'Contra Costa County, CA',
 'San Francisco County, CA',
 'Suffolk County, MA',
 'Washington County, OR',
 'Cook County, IL',
 'Middlesex County, MA',
 'Placer County, CA',
 'Fort Bend County, TX',
 'Harris County, TX',
 'Norfolk County, MA',
 'Fulton County, GA',
 'Montgomery County, PA',
 'Unassigned Location, WA',
 'Bergen County, NJ',
 'Grafton County, NH',
 'Kershaw County, SC',
 'Montgomery County, MD',
 'Orange County, CA',
 'Pierce County, WA',
 'Rockland County, NY',
 'Broward County, FL',
 'Cobb County, GA',
 'Douglas County, CO',
 'Douglas County, NE',
 'Johnson County, IA',
 'Maricopa County, AZ',
 'Providence County, RI',
 'San Diego County, CA',
 'Sonoma County, CA',
 'Alameda County, CA',
 'Clark County, NV',
 'Denver County, CO',
 'Fairfax County, VA',
 'Harrison County, KY',
 'Hendricks County, IN',
 'Hillsborough, FL',
 'Honolulu County, HI',
 'Jackson County, OR ',
 'Lee County, FL',
 'Manatee County, FL',
 'Pinal County, AZ',
 'Sacramento County, CA',
 'San Benito, CA',
 'San Mateo, CA',
 'Saratoga County, NY',
 'Summit County, CO',
 'Washington, D.C.',
 'Washoe County, NV',
 'Bennington County, VT',
 'Berkshire County, MA',
 'Carver County, MN',
 'Charleston County, SC',
 'Charlotte County, FL',
 'Chatham County, NC',
 'Cherokee County, GA',
 'Clark County, WA',
 'Collin County, TX',
 'Davidson County, TN',
 'Davis County, UT',
 'Delaware County, PA',
 'Douglas County, OR',
 'El Paso County, CO',
 'Fairfield County, CT',
 'Fayette County, KY',
 'Fresno County, CA',
 'Grant County, WA',
 'Harford County, MD',
 'Hudson County, NJ',
 'Humboldt County, CA',
 'Jefferson County, KY',
 'Jefferson County, WA',
 'Jefferson Parish, LA',
 'Johnson County, KS',
 'Kittitas County, WA',
 'Klamath County, OR',
 'Madera County, CA',
 'Madison, WI',
 'Marion County, IN',
 'Marion County, OR',
 'Okaloosa County, FL',
 'Plymouth County, MA',
 'Polk County, GA',
 'Ramsey County, MN',
 'Riverside County, CA',
 'Rockingham County, NH',
 'San Antonio, TX',
 'Santa Rosa County, FL',
 'Sarasota, FL',
 'Shasta County, CA',
 'Shelby County, TN',
 'Spartanburg County, SC',
 'Spokane County, WA',
 'St. Louis County, MO',
 'Suffolk County, NY',
 'Tulsa County, OK',
 'Ulster County, NY',
 'Umatilla, OR',
 'Unknown Location, MA',
 'Volusia County, FL',
 'Wake County, NC',
 'Wayne County, PA',
 'Williamson County, TN',
 'Yolo County, CA',
 'Lackland, TX (From Diamond Princess)',
 'Montgomery County, TX',
 'Omaha, NE (From Diamond Princess)',
 'Travis, CA (From Diamond Princess)',
 'Washington',
 'New York',
 'California',
 'Massachusetts',
 'Diamond Princess',
 'Grand Princess',
 'Georgia',
 'Colorado',
 'Florida',
 'New Jersey',
 'Oregon',
 'Texas',
 'Illinois',
 'Pennsylvania',
 'Iowa',
 'Maryland',
 'North Carolina',
 'South Carolina',
 'Tennessee',
 'Virginia',
 'Arizona',
 'Indiana',

In [29]:
ill=data[data["Province/State"]=='Illinois']
ill0=ill.groupby(['Date']).sum()
ill0

              Latitude    Longitude  Confirmed  Recovered  Deaths
Date
1/25/2020    39.860649   -89.130850        1.0        0.0     0.0
1/26/2020    39.860649   -89.130850        1.0        0.0     0.0
1/27/2020    39.860649   -89.130850        1.0        0.0     0.0
1/28/2020    39.860649   -89.130850        1.0        0.0     0.0
1/29/2020    39.860649   -89.130850        1.0        0.0     0.0
...                ...          ...        ...        ...     ...
7/5/2020   4143.770304 -9274.451367   147251.0        0.0  7020.0
7/6/2020   4143.770304 -9274.451367   147865.0        0.0  7026.0
7/7/2020   4143.770304 -9274.451367   149574.0        0.0  7273.0
7/8/2020   4143.770304 -9274.451367   150554.0        0.0  7309.0
7/9/2020   4143.770304 -9274.451367   151572.0        0.0  7329.0

[143 rows x 5 columns]

In [33]:
cal=data[data["Province/State"]=='California']
#cal0=cal.groupby(['Date']).sum()
#cal0
cal

,Country,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date
8,US,California,37.938993,-120.997072,2.0,NaN,NaN,1/26/2020
12,US,California,37.938993,-120.997072,2.0,NaN,NaN,1/27/2020
16,US,California,37.938993,-120.997072,2.0,NaN,NaN,1/28/2020
20,US,California,37.938993,-120.997072,2.0,NaN,NaN,1/29/2020
24,US,California,37.938993,-120.997072,2.0,NaN,NaN,1/30/2020
...,...,...,...,...,...,...,...,...
370737,US,California,38.026440,-119.952509,109.0,0.0,0.0,7/23/2020
370755,US,California,37.938993,-120.997072,0.0,0.0,0.0,7/23/2020
370844,US,California,34.444657,-119.091061,6156.0,0.0,63.0,7/23/2020
371082,US,California,38.682789,-121.901829,1275.0,0.0,37.0,7/23/2020
371089,US,California,39.262559,-121.353564,319.0,0.0,3.0,7/23/2020

In [47]:
dfdate= usdata['Date'].astype(str).str.split('/',expand=True)
dfdate.columns = ['month','date','year']

In [48]:
df=pd.concat([usdata,dfdate],axis=1)
df

,Country,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date,month,date,year
0,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/22/2020,1,22,2020
1,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/23/2020,1,23,2020
2,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/24/2020,1,24,2020
3,US,Chicago,38.212678,-89.502995,1.0,NaN,NaN,1/24/2020,1,24,2020
4,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/25/2020,1,25,2020
...,...,...,...,...,...,...,...,...,...,...,...
371101,US,Virgin Islands,18.335800,-64.896300,336.0,0.0,7.0,7/23/2020,7,23,2020
371102,US,Oklahoma,35.542606,-97.068263,0.0,0.0,0.0,7/23/2020,7,23,2020
371103,US,Alaska,59.796037,-158.238194,1.0,0.0,0.0,7/23/2020,7,23,2020
371104,US,Idaho,46.233153,-116.434146,1.0,0.0,0.0,7/23/2020,7,23,2020
371105,US,Oregon,44.726982,-120.028143,0.0,0.0,0.0,7/23/2020,7,23,2020

In [49]:
jan=ill=df[df["month"]=='1']
jan

,Country,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date,month,date,year
0,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/22/2020,1,22,2020
1,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/23/2020,1,23,2020
2,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/24/2020,1,24,2020
3,US,Chicago,38.212678,-89.502995,1.0,NaN,NaN,1/24/2020,1,24,2020
4,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/25/2020,1,25,2020
5,US,Illinois,39.860649,-89.130850,1.0,NaN,NaN,1/25/2020,1,25,2020
6,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/26/2020,1,26,2020
7,US,Illinois,39.860649,-89.130850,1.0,NaN,NaN,1/26/2020,1,26,2020
8,US,California,37.938993,-120.997072,2.0,NaN,NaN,1/26/2020,1,26,2020
9,US,Arizona,33.348359,-111.344948,1.0,NaN,NaN,1/26/2020,1,26,2020
10,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/27/2020,1,27,2020
11,US,Illinois,39.860649,-89.130850,1.0,NaN,NaN,1/27/2020,1,27,2020
12,US,California,37.938993,-120.997072,2.0,NaN,NaN,1/27/2020,1,27,2020
13,US,Arizona,33.348359,-111.344948,1.0,NaN,NaN,1/27/2020,1,27,2020
14,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/28/2020,1,28,2020
15,US,Illinois,39.860649,-89.130850,1.0,NaN,NaN,1/28/2020,1,28,2020
16,US,California,37.938993,-120.997072,2.0,NaN,NaN,1/28/2020,1,28,2020
17,US,Arizona,33.348359,-111.344948,1.0,NaN,NaN,1/28/2020,1,28,2020
18,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/29/2020,1,29,2020
19,US,Illinois,39.860649,-89.130850,1.0,NaN,NaN,1/29/2020,1,29,2020
20,US,California,37.938993,-120.997072,2.0,NaN,NaN,1/29/2020,1,29,2020
21,US,Arizona,33.348359,-111.344948,1.0,NaN,NaN,1/29/2020,1,29,2020
22,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/30/2020,1,30,2020
23,US,Illinois,39.860649,-89.130850,1.0,NaN,NaN,1/30/2020,1,30,2020
24,US,California,37.938993,-120.997072,2.0,NaN,NaN,1/30/2020,1,30,2020
25,US,Arizona,33.348359,-111.344948,1.0,NaN,NaN,1/30/2020,1,30,2020
26,US,Illinois,39.860649,-89.130850,2.0,NaN,NaN,1/31/2020,1,31,2020
27,US,California,37.938993,-120.997072,2.0,NaN,NaN,1/31/2020,1,31,2020
28,US,Washington,47.140037,-120.791360,1.0,NaN,NaN,1/31/2020,1,31,2020
29,US,Arizona,33.348359,-111.344948,1.0,NaN,NaN,1/31/2020,1,31,2020

In [57]:
Feb=df[df["month"]=='2']
Feb

,Country,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date,month,date,year
30,US,"Chicago, IL",41.8781,-87.6298,2.0,0.0,0.0,2/1/2020,2,1,2020
31,US,"Boston, MA",42.3601,-71.0589,1.0,0.0,0.0,2/1/2020,2,1,2020
32,US,"Los Angeles, CA",34.0522,-118.2437,1.0,0.0,0.0,2/1/2020,2,1,2020
33,US,"Orange, CA",33.7879,-117.8531,1.0,0.0,0.0,2/1/2020,2,1,2020
34,US,"Santa Clara, CA",37.3541,-121.9552,1.0,0.0,0.0,2/1/2020,2,1,2020
...,...,...,...,...,...,...,...,...,...,...,...
369,US,"Snohomish County, WA",48.0330,-121.8339,1.0,0.0,0.0,2/29/2020,2,29,2020
370,US,"Tempe, AZ",33.4255,-111.9400,1.0,1.0,0.0,2/29/2020,2,29,2020
371,US,"Lackland, TX (From Diamond Princess)",29.3829,-98.6134,0.0,0.0,0.0,2/29/2020,2,29,2020
372,US,"Omaha, NE (From Diamond Princess)",41.2545,-95.9758,0.0,0.0,0.0,2/29/2020,2,29,2020
373,US,"Travis, CA (From Diamond Princess)",38.2721,-121.9399,0.0,0.0,0.0,2/29/2020,2,29,2020

In [52]:
Mar=df[df["month"]=='3']
Mar

,Country,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date,month,date,year
374,US,Unassigned Location (From Diamond Princess),35.4437,139.6380,44.0,0.0,0.0,3/1/2020,3,1,2020
375,US,"Seattle, WA",47.6062,-122.3321,9.0,1.0,1.0,3/1/2020,3,1,2020
376,US,"Chicago, IL",41.8781,-87.6298,3.0,2.0,0.0,3/1/2020,3,1,2020
377,US,"Santa Clara, CA",37.3541,-121.9552,3.0,1.0,0.0,3/1/2020,3,1,2020
378,US,"Sacramento County, CA",38.4747,-121.3542,2.0,0.0,0.0,3/1/2020,3,1,2020
...,...,...,...,...,...,...,...,...,...,...,...
32344,US,Guam,13.4443,144.7937,69.0,0.0,2.0,3/31/2020,3,31,2020
32345,US,Northern Mariana Islands,15.0979,145.6739,2.0,0.0,0.0,3/31/2020,3,31,2020
32346,US,Puerto Rico,18.2208,-66.5901,239.0,0.0,8.0,3/31/2020,3,31,2020
32347,US,Recovered,0.0000,0.0000,0.0,7024.0,0.0,3/31/2020,3,31,2020
32348,US,Virgin Islands,18.3358,-64.8963,30.0,0.0,0.0,3/31/2020,3,31,2020

In [53]:
Apr=df[df["month"]=='4']
Apr

,Country,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date,month,date,year
32349,US,South Carolina,34.223334,-82.461707,4.0,0.0,0.0,4/1/2020,4,1,2020
32350,US,Louisiana,30.295065,-92.414197,47.0,0.0,1.0,4/1/2020,4,1,2020
32351,US,Virginia,37.767072,-75.632346,7.0,0.0,0.0,4/1/2020,4,1,2020
32352,US,Idaho,43.452658,-116.241552,195.0,0.0,3.0,4/1/2020,4,1,2020
32353,US,Iowa,41.330756,-94.471059,1.0,0.0,0.0,4/1/2020,4,1,2020
...,...,...,...,...,...,...,...,...,...,...,...
113675,US,Guam,13.444300,144.793700,145.0,0.0,5.0,4/30/2020,4,30,2020
113676,US,Northern Mariana Islands,15.097900,145.673900,14.0,0.0,2.0,4/30/2020,4,30,2020
113677,US,Puerto Rico,18.220800,-66.590100,1539.0,0.0,92.0,4/30/2020,4,30,2020
113678,US,Recovered,0.000000,0.000000,0.0,153947.0,0.0,4/30/2020,4,30,2020
113679,US,Virgin Islands,18.335800,-64.896300,66.0,0.0,4.0,4/30/2020,4,30,2020

In [54]:
May=df[df["month"]=='5']
May

,Country,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date,month,date,year
113680,US,South Carolina,34.223334,-82.461707,31.0,0.0,0.0,5/1/2020,5,1,2020
113681,US,Louisiana,30.295065,-92.414197,133.0,0.0,10.0,5/1/2020,5,1,2020
113682,US,Virginia,37.767072,-75.632346,303.0,0.0,5.0,5/1/2020,5,1,2020
113683,US,Idaho,43.452658,-116.241552,681.0,0.0,16.0,5/1/2020,5,1,2020
113684,US,Iowa,41.330756,-94.471059,1.0,0.0,0.0,5/1/2020,5,1,2020
...,...,...,...,...,...,...,...,...,...,...,...
206168,US,Guam,13.444300,144.793700,172.0,0.0,5.0,5/31/2020,5,31,2020
206169,US,Northern Mariana Islands,15.097900,145.673900,22.0,0.0,2.0,5/31/2020,5,31,2020
206170,US,Puerto Rico,18.220800,-66.590100,3776.0,0.0,136.0,5/31/2020,5,31,2020
206171,US,Recovered,0.000000,0.000000,0.0,444758.0,0.0,5/31/2020,5,31,2020
206172,US,Virgin Islands,18.335800,-64.896300,69.0,0.0,6.0,5/31/2020,5,31,2020

In [55]:
June = May=df[df["month"]=='6']
June

,Country,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date,month,date,year
206173,US,South Carolina,34.223334,-82.461707,44.0,0.0,0.0,6/1/2020,6,1,2020
206174,US,Louisiana,30.295065,-92.414197,422.0,0.0,23.0,6/1/2020,6,1,2020
206175,US,Virginia,37.767072,-75.632346,917.0,0.0,12.0,6/1/2020,6,1,2020
206176,US,Idaho,43.452658,-116.241552,812.0,0.0,22.0,6/1/2020,6,1,2020
206177,US,Iowa,41.330756,-94.471059,9.0,0.0,0.0,6/1/2020,6,1,2020
...,...,...,...,...,...,...,...,...,...,...,...
298344,US,Guam,13.444300,144.793700,257.0,0.0,5.0,6/30/2020,6,30,2020
298345,US,Northern Mariana Islands,15.097900,145.673900,30.0,0.0,2.0,6/30/2020,6,30,2020
298346,US,Puerto Rico,18.220800,-66.590100,7465.0,0.0,153.0,6/30/2020,6,30,2020
298347,US,Recovered,0.000000,0.000000,0.0,720631.0,0.0,6/30/2020,6,30,2020
298348,US,Virgin Islands,18.335800,-64.896300,81.0,0.0,6.0,6/30/2020,6,30,2020

In [56]:
July = May=df[df["month"]=='7']
July

,Country,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date,month,date,year
298349,US,South Carolina,34.223334,-82.461707,113.0,0.0,0.0,7/1/2020,7,1,2020
298350,US,Louisiana,30.295065,-92.414197,919.0,0.0,37.0,7/1/2020,7,1,2020
298351,US,Virginia,37.767072,-75.632346,1043.0,0.0,14.0,7/1/2020,7,1,2020
298352,US,Idaho,43.452658,-116.241552,2288.0,0.0,23.0,7/1/2020,7,1,2020
298353,US,Iowa,41.330756,-94.471059,15.0,0.0,0.0,7/1/2020,7,1,2020
...,...,...,...,...,...,...,...,...,...,...,...
371101,US,Virgin Islands,18.335800,-64.896300,336.0,0.0,7.0,7/23/2020,7,23,2020
371102,US,Oklahoma,35.542606,-97.068263,0.0,0.0,0.0,7/23/2020,7,23,2020
371103,US,Alaska,59.796037,-158.238194,1.0,0.0,0.0,7/23/2020,7,23,2020
371104,US,Idaho,46.233153,-116.434146,1.0,0.0,0.0,7/23/2020,7,23,2020
371105,US,Oregon,44.726982,-120.028143,0.0,0.0,0.0,7/23/2020,7,23,2020